* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  background-color: black;
}

header {
  text-align: center;
}

.offer {
  font-size: 25px;
  padding: 7px;
  color: black;
  background-color: cyan;
  transition: all 0.5s ease;
}

.offer:hover {
  background-color: orange;
  color: white;
  font-weight: bold;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  img {
    border-radius: 50%;
    padding: 10px;
    width: 100px;
    height: 100px;
  }
}

.brand-name h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
}

nav {
  text-align: center;
  background-color: black;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

nav ul li a:hover,
nav ul li a.active {
  color: black;
  background-color: blanchedalmond;
}

main {
  padding: 0 20px;
  text-align: justify;
}

.products {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.proSA,
.proHYL {
  width: 48%;
}

.proSA {
  width: 320px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  border: 8px solid #fff;
  position: relative;margin-bottom: 60px;
}

.SA-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.SA-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: rgba(0, 255, 255, 0.235);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 2s ease;
}

.proSA:hover .SA-body {
  right: 0;
}

.SAtitle {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
}

.SA-shortnote {
  font-size: 16px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
}

.SA-btn {
  color: black;
  background-color: blanchedalmond;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

/*------------------------------------------------------------------------------------------------------------------*/

.proHYL {
  width: 320px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  border: 8px solid #fff;
  position: relative;
  margin-bottom: 60px;
}

.HYL-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.HYL-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: rgba(0, 255, 255, 0.235);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 2s ease;
}

.proHYL:hover .HYL-body {
  right: 0;
}

.HYLtitle {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
}

.HYL-shortnote {
  font-size: 16px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
}

.HYL-btn {
  color: black;
  background-color: blanchedalmond;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

/*------------------------------------------------------------------------------------------------------------------*/

.proVC-10 {
  width: 320px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  border: 8px solid #fff;
  position: relative;
  margin-bottom: 60px;
}

.VC-10-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.VC-10-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: rgba(0, 255, 255, 0.235);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 2s ease;
}

.proVC-10:hover .VC-10-body {
  right: 0;
}

.VC-10title {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
}

.VC-10-shortnote {
  font-size: 16px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
}

.VC-10-btn {
  color: black;
  background-color: blanchedalmond;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

/*------------------------------------------------------------------------------------------------------------------*/

.proOSK {
  width: 320px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  border: 8px solid #fff;
  position: relative;
}

.OSK-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.OSK-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: rgba(128, 0, 128, 0.208);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 2s ease;
}

.proOSK:hover .OSK-body {
  right: 0;
}

.OSKtitle {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
}

.OSK-shortnote {
  font-size: 16px;
  line-height: 25px;
  margin: 40px 0;
  font-weight: 400;
}

.OSK-btn {
  color: black;
  background-color: blanchedalmond;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

#info {
  margin-bottom: 20px;
}
vvvvvvvvvvvvvvvvvv
